<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,600"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/favorites-directors-styles.css" />
  </head>

  <body>
    <div class="top-part">
      <img class="top-pic" src="assets/img/fav.jpg" alt="top-pic" />
      <h1 class="slogan">Favorites</h1>
      <div class="all">
        <h2 class="all-movies">
          <a href="#favorites-movies-page" id="all-movies-link">All Movies</a>
        </h2>
        <h2 class="all-directors"><a href="#">All Directors</a></h2>
      </div>
    </div>
    <div
      class="favorites-directors-grid"
      id="director-grid-large-cards-container-fav"
    ></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="assets/js/load-data.js"></script>
  </body>
</html>
