.top-pic {
  object-fit: cover;
  width: 100%;
  height: 550px;
  opacity: 70%;
}

.top-part {
  height: 550px;
  position: relative;
}

.slogan {
  width: 100%;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.most-popular {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 32px;
  width: 240px;
  position: relative;
  color: white;
  bottom: 175px;
  left: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.director-side-scroll-container {
  height: 471px;
  position: relative;
  top: -100px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 357px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.card {
  width: 325px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  margin-left: 32px;
  padding: 16px;
  transition: 0.3s;
}

.director-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px;
}

.director-image:hover {
  opacity: 80%;
  cursor: pointer;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 30%;
  background-color: white;
  border-radius: 0 0 8px 8px;
  transition: 0.3s;
}

.director-name {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
}

.add-favorites {
  width: 140px;
  height: 42px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 24px;
  border: none;
  background-color: white;
  color: #1e1e1e;
  cursor: pointer;
  transition: 0.3s;
}

.add-favorites span::before {
  content: "favorite";
}

.add-favorites:hover {
  background-color: #dcdcdc;
}

.add-favorites:active {
  background-color: #bdbdbd;
}

.add-favorites.clicked {
  background-color: #77c3ec;
}

.add-favorites.clicked span::before {
  content: "favorite";
  font-variation-settings: "FILL" 1;
}

.all {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 32px;
  width: 240px;
  position: relative;
  color: white;
  bottom: 50px;
  left: 32px;
}

.director-grid .container-box {
  align-items: center;
}

.director-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 60px;
}

.director-grid .card {
  width: 100%;
  height: 500px;
}

@media (max-width: 991px) {
  .director-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .director-grid .card {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .director-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .director-grid .card {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .director-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .director-grid .card {
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background: #77c3ec;
  border: 0.2em solid #dcdcdc;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #1779b2;
}

::-webkit-scrollbar-thumb:active {
  background: #146190;
}

@media (max-width: 991px) {
  .slogan {
    font-size: 48px;
  }
  .col .director-image {
    height: 200px;
  }
}
